.search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 10px;
}
.searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  height: 35px;
  width: 100%;
  border-radius: 20px;
}
.inputField {
  border: none;
  margin-left: 10px;
  outline: none;
  flex: 1;
}
